.label {
    font-size: 14px !important;
    font-weight: normal !important;
}

.label.label-info {
    background: #4089e1;
}

.bill-text .linenumber {
    display: none;
}

.bill-text *,
.bill-text h2,
.bill-text h3,
.bill-text h4 {
    font-size: 14px !important;
    font-weight: normal !important;
    font-style: normal !important;
}

ul.votes li:nth-child(1) {
    color: #3fb618 !important;
}

ul.votes li:nth-child(2) {
    color: #ff0039 !important;
}

.vote-buttons .btn {
    border-radius: 4px;
}

.vote-buttons .btn.btn-default {
    background: #666;
}