.label {
    font-size: 14px !important;
    font-weight: normal !important;
}

.label.label-info {
    background: #4089e1;
}

.bill-text .linenumber {
    display: none;
}

.bill-text *,
.bill-text h2,
.bill-text h3,
.bill-text h4 {
    font-size: 14px !important;
    font-weight: normal !important;
    font-style: normal !important;
}

.navbar {
    border-radius: 0 !important;
}
ul.votes li:nth-child(1) {
    color: #0fae76 !important;
}

ul.votes li:nth-child(2) {
    color: #ca2335 !important;
}

.avatar,
.vote-buttons .btn {
    border-radius: 6px;
}

.vote-buttons .btn.btn-default {
    background: #666;
}
